
#map {
    height: 500px;
    width: 100%;
    cursor: pointer;
    display: block;
}

.form-input {
    display: block;
    padding: 10px;
    padding-bottom: 0;
}

.inline-input {
    display: inline-block;
    padding: 10px;
    padding-left: 0;
}

.form-input h4 {
    margin-bottom: 5px;
}

button {
    background-color: #175db6;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    display: block;
    margin: 20px;
    margin-left: 0;
}

.file-upload {
    display: block;
}

#description {
    width: 500px;
}

.form {
    padding: 20px;
    padding-top: 10px;
}